# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# editors
.idea
.vscode
*.sublime-*
.sass-cache

# misc
.DS_Store
.env
.idea
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
